In [4]:
import pandas as pd
d={'Name':['aaa','bbb','ccc','ddd','eee','fff','ggg'],'Age':[20,18,19,20,18,17,19],'Gender':['M','F','M','M','F','F','F'],'Marks':[90,76,'NaN',74,65,'NaN',71]}
df=pd.DataFrame(d)
print("Original DataFrame:\n",df)
c=avg=0
for ele in df['Marks']:
    if str(ele).isnumeric():
        c+=1
        avg+=ele
        avg/=c
df=df.replace(to_replace="NaN",value=avg)
print("\nReplacing NaN with average marks:\n",df)

Original DataFrame:
   Name  Age Gender Marks
0  aaa   20      M    90
1  bbb   18      F    76
2  ccc   19      M   NaN
3  ddd   20      M    74
4  eee   18      F    65
5  fff   17      F   NaN
6  ggg   19      F    71

Replacing NaN with average marks:
   Name  Age Gender      Marks
0  aaa   20      M  90.000000
1  bbb   18      F  76.000000
2  ccc   19      M  20.066667
3  ddd   20      M  74.000000
4  eee   18      F  65.000000
5  fff   17      F  20.066667
6  ggg   19      F  71.000000

In [5]:
df=df[df['Marks']>=75]
df=df.drop(['Age'],axis=1)
print("\nFiltering and Dropping func:\n",df)

Filtering and Dropping func:
   Name Gender  Marks
0  aaa      M   90.0
1  bbb      F   76.0

In [7]:
one=pd.DataFrame({'Name':['aaa','bbb','ccc','ddd','eee'],'subject':['sub1','sub2','sub4','sub6','sub5'],'Marks':[98,95,96,92,88]},index=[1,2,3,4,5])
two=pd.DataFrame({'Name':['fff','ggg','hhh','iii','jjj'],'subject':['sub2','sub4','sub3','sub6','sub5'],'Marks':[86,95,87,99,91]},
index=[1,2,3,4,5])
print("\nOriginal DataFrame 1:\n",one)
print("\nOriginal DataFrame 2:\n",two)
print(pd.concat([one,two]))

Original DataFrame 1:
   Name subject  Marks
1  aaa    sub1     98
2  bbb    sub2     95
3  ccc    sub4     96
4  ddd    sub6     92
5  eee    sub5     88

Original DataFrame 2:
   Name subject  Marks
1  fff    sub2     86
2  ggg    sub4     95
3  hhh    sub3     87
4  iii    sub6     99
5  jjj    sub5     91
  Name subject  Marks
1  aaa    sub1     98
2  bbb    sub2     95
3  ccc    sub4     96
4  ddd    sub6     92
5  eee    sub5     88
1  fff    sub2     86
2  ggg    sub4     95
3  hhh    sub3     87
4  iii    sub6     99
5  jjj    sub5     91