In [4]:
import pandas as pd
d1={"name":["abc","def","ghi"],"age":[20,21,22]}
d2={"qualified":[True,True,False]}
df1=pd.DataFrame(d1)
print(df1)
df2=pd.DataFrame(d2)
print(df2)
new=df1.join(df2)
print(new)

  name  age
0  abc   20
1  def   21
2  ghi   22
   qualified
0       True
1       True
2      False
  name  age  qualified
0  abc   20       True
1  def   21       True
2  ghi   22      False

In [14]:
f1={"name":["aaa","bbb","ccc"],"age":[20,25,22]}
f2={"name":["ddd","eee","fff"],"age":[22,24,25]}
df1=pd.DataFrame(f1)
print(df1)
df2=pd.DataFrame(f2)
print(df2)
new1=df2.merge(df1,on='age')
print(new1)

  name  age
0  aaa   20
1  bbb   25
2  ccc   22
  name  age
0  ddd   22
1  eee   24
2  fff   25
  name_x  age name_y
0    ddd   22    ccc
1    fff   25    bbb

In [22]:
#reshape
df=pd.DataFrame({"team":['A','B','C','D'],"points":[90,56,76,42],"assits":[12,31,23,44],"rebounds":[46,54,23,75]})
print(df)
df=pd.melt(df,id_vars='team',value_vars=['points','assits','rebounds'])
print(df)

  team  points  assits  rebounds
0    A      90      12        46
1    B      56      31        54
2    C      76      23        23
3    D      42      44        75
   team  variable  value
0     A    points     90
1     B    points     56
2     C    points     76
3     D    points     42
4     A    assits     12
5     B    assits     31
6     C    assits     23
7     D    assits     44
8     A  rebounds     46
9     B  rebounds     54
10    C  rebounds     23
11    D  rebounds     75