In [13]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print(df)

        one       two     three
a -0.249775 -0.247854 -1.569104
b       NaN       NaN       NaN
c -0.146482  3.185597  0.194937
d  0.870410  0.709152 -1.074632
e       NaN       NaN       NaN
f  0.012085  2.037918  1.829639

In [14]:
print(df.dropna())

        one       two     three
a -0.249775 -0.247854 -1.569104
c -0.146482  3.185597  0.194937
d  0.870410  0.709152 -1.074632
f  0.012085  2.037918  1.829639

In [16]:
#nan filled with zeros
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c'])
print(df)
print(df.fillna(0))

        one       two     three
a -0.744132 -1.573117 -2.370572
b       NaN       NaN       NaN
c -0.051315  1.189836  0.372194
        one       two     three
a -0.744132 -1.573117 -2.370572
b  0.000000  0.000000  0.000000
c -0.051315  1.189836  0.372194

In [21]:
#replace
df=pd.DataFrame({'one':[10,20,30,40,50],'two':[60,70,80,0,10]})
print(df)
print(df.replace({10:5,80:3}))

   one  two
0   10   60
1   20   70
2   30   80
3   40    0
4   50   10
   one  two
0    5   60
1   20   70
2   30    3
3   40    0
4   50    5

In [23]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("oringinal dataframe:\n",df)
print("\nNan with true fill:\n")
print(df['one'].isnull())

oringinal dataframe:
         one       two     three
a -1.354487  0.276545  0.765565
b       NaN       NaN       NaN
c  0.900728  1.432961  0.031789
d -0.905993  0.119667  0.803325
e       NaN       NaN       NaN
f -0.296464 -0.326881  0.383388

Nan with true fill:

a    False
b     True
c    False
d    False
e     True
f    False
Name: one, dtype: bool

In [25]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("oringinal dataframe:\n",df)
print("\nNan filled with background values:\n")
print(df.fillna(method='bfill'))

oringinal dataframe:
         one       two     three
a -0.538940  1.029646  0.600280
b       NaN       NaN       NaN
c -1.210043  0.510899 -1.427049
d  0.127805 -1.130778  0.139868
e       NaN       NaN       NaN
f  0.170336 -2.369653 -0.725365

Nan filled with background values:

        one       two     three
a -0.538940  1.029646  0.600280
b -1.210043  0.510899 -1.427049
c -1.210043  0.510899 -1.427049
d  0.127805 -1.130778  0.139868
e  0.170336 -2.369653 -0.725365
f  0.170336 -2.369653 -0.725365

In [27]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("oringinal dataframe:\n",df)
print("\nNan filled with forward values:\n")
print(df.fillna(method='ffill'))

oringinal dataframe:
         one       two     three
a -0.107699 -0.388369  0.216923
b       NaN       NaN       NaN
c -0.366090 -2.302029  0.250726
d  0.255266  1.039771  0.415017
e       NaN       NaN       NaN
f  1.839896  0.243569  1.144258

Nan filled with forward values:

        one       two     three
a -0.107699 -0.388369  0.216923
b -0.107699 -0.388369  0.216923
c -0.366090 -2.302029  0.250726
d  0.255266  1.039771  0.415017
e  0.255266  1.039771  0.415017
f  1.839896  0.243569  1.144258